/* google font link-up */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap');

/* common style */
body {
    user-select: none;
    background-color: #F8F8F8;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif, 'Poppins', sans-serif, 'ZCOOL QingKe HuangYou', cursive;
}

section {
    width: 80%;
    margin: auto;
}


button {
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-style: none;
}

button:hover {
    background-color: #d85183;
    cursor: pointer;
}

.fa-solid {
    margin: .4em 1em;
}

/* -------------------------------------------
Navigation and Top Banner Part  
-------------------------------------------*/

header {
    background-color: #21325E;
    height: 715px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    color: white;
    font-size: 2em;
    padding: 5px;
    display: none;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.menu>ul {
    padding-left: 0;
    display: flex;

}

nav>div>ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin-right: 2.5em;
    color: white;
    font-weight: 500;
}

.menu a:hover {
    background-color: #4e5464c2;
    padding: .7em;
}


/*----------------------------------------------
 top_banner text and images 
 --------------------------------------------------*/


/* common style of banner and feautre part  */
.top_banner, .feature_part {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.half_width {
    width: 50%;
}

.half_width img {
    width: 95%;
    object-fit: contain;
    /* height: 440px; */
}


/* --------------------------------------------------- */
.banner_text {
    margin-left: 1.4rem;
    margin-top: -60px;
}



.top_banner h1 {
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
    line-height: 80px;
}


.top_img {
    transition: transform 2s;
}

.top_img:hover {
    transform: skewY(10deg);
}

/* <!-------------------------------------------
 Main Part of Player 
-----------------------------------------> */
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 30px;
    margin-top: 70px;
}

.player, article {
    border: 15px solid white;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.player img {
    width: 100%;
}





/*--------------- Feature Part here ---------------------------------- --> */
.feature_part {
    margin-top: 100px;
}

.feature_part>.half_width>h1 {
    font-size: 48px;
    margin-bottom: 8px;
}


/*
<!------------------------------------------------------
 News and Article Section --------------------------------------------------- */

.article_part {

    margin-top: 8em;
}

.latest_heading {
    position: absolute
}



.latest_heading h2 {
    /* position: absolute; */
    margin: 10px;
    bottom: 3em;
    position: relative;
    border-bottom: 4px solid #21325e;
}

.article_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

article img {
    width: 90%;
    height: 200px;
    transition: transform 1s;
}


article:hover img {

    transform: scale(1.05);
}

article:hover h1 {
    text-decoration: underline;
    cursor: pointer;
}




/*-------------- social links part ------------------------------------------ */
.social_section_part {
    background-color: #21325E;
    height: 500px;
}

.social_section_part h1 {
    color: white;
    padding: 1.5em 0 1.5em;
}

.social_links {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 5em; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.links>ul li {
    list-style-type: none;
}

/* .links ul{
    justify-content: center;
    align-items: center;
} */
.social_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social_icon a {
    margin: 0;
}

.social_icon h3 {
    color: white;
}

.links i {
    font-size: 40px;
}

.social_icon i {
    font-size: 3em;
    transition: transform 2s;
}

.social_icon:hover i {
    transform: rotate(360deg);
}

.social_icon:hover h3 {
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------------------
Footer Part---------------------------------------------------  */
.footer-sec {
    margin-top: 5em;
    display: flex;
    flex-direction: column;

}

footer {
    text-align: center;
}

.logo img {
    width: 50%;
    object-fit: cover;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;

}

.footer_icon>li {

    list-style-type: none;
}

.footer_icon>li>a {
    padding: 10px;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 50%;
    margin: 0 0 0 15px;
}



/*-------------------------------------------------- Mobile Responsive Started from Her ---------------------------------- */

@media screen and (max-width:576px) {

    /* common style for responsive 
 */
    section {
        width: 100%;
    }

    .half_width {
        width: 94%;
        padding: 5%;
        margin: 2em 0px;
        padding: 1em 3%;
    }

    /* /Responsive Navbar */

    .nav-container {
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        margin-left: 30px;
        top: -70px;
        margin-bottom: -4rem;
    }

    .menu>ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

    }

    .nav-container ul {
        flex-direction: column;
        /* padding: 10px; */
        flex-basis: 20px;
    }

    .nav-container>.menu {
        margin-left: 0;
        padding-left: 0;
        display: none;
    }

    .menu li {
        margin: 5px;

    }

    .menu a {
        font-size: .6rem;
        font-weight: 400;
    }

    .hamburger {
        display: block;
    }

    input[type=checkbox]:checked~.nav-container>.menu {
        display: block;
    }



    /* Responsive Topbar and Featurebar --------------------------------------------- */
    .top_banner, .feature_part {
        flex-direction: column;
        align-items: flex-start;
    }

    .top_banner h1 {
        font-size: 34px;
        margin-bottom: 0px;
        line-height: 48px;
    }

    .top_img {
        width: 80%;
        padding: 2rem;
    }


    /* Responsive for Main Part --------------------------------------------------------------------------------- */
    .main-container {
        grid-template-columns: auto;
    }


    /* Article part------------------------------------- */
    .article_container {
        grid-template-columns: auto;
    }

    /* Social Conncection Part -------------------------------------------------------- */

    .social_links {
        flex-direction: column;
    }
}